igaming_fraud_analytics:
  target: dev
  outputs:
    dev:
      type: postgres
      host: "{{ env_var('WAREHOUSE_HOST', 'localhost') }}"
      port: "{{ env_var('WAREHOUSE_PORT', '5433') | as_number }}"
      user: "{{ env_var('WAREHOUSE_USER', 'igaming') }}"
      password: "{{ env_var('WAREHOUSE_PASSWORD', 'igaming') }}"
      dbname: "{{ env_var('WAREHOUSE_DB', 'igaming') }}"
      schema: public
      threads: 4
